<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.shihoo.daemon" >


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>


    <application
        android:label="@string/app_name"
        >
        <receiver
            android:name="com.shihoo.daemon.watch.WakeUpReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT"/>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.shihoo.daemon.watch.WakeUpReceiver$StartWatchReceiver"
            android:process=":watch">
            <intent-filter>
                <action android:name="com.shihoo.START_JOB_ALARM_SUB"/>
            </intent-filter>
        </receiver>
        <!-- 广播接收者  receiver 进程-->
        <receiver
            android:name="com.shihoo.daemon.watch.WakeUpReceiver$WakeUpAutoStartReceiver"
            android:process=":watch">
            <!-- 手机启动 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
            <!-- 软件安装卸载-->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 网络监听 -->
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <action android:name="android.net.wifi.WIFI_STATE_CJANGED"/>
                <action android:name="android.net.wifi.STATE_CHANGE"/>
            </intent-filter>
            <!-- 文件挂载 -->
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_EJECT"/>
                <action android:name="android.intent.action.MEDIA_MOUNTED"/>
                <data android:scheme="file"/>
            </intent-filter>

        </receiver>



        <!-- 守护进程 watch -->
        <service
            android:name="com.shihoo.daemon.watch.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:process=":watch"/>

        <service
            android:name="com.shihoo.daemon.watch.WatchDogService"
            android:process=":watch"/>

        <activity
            android:name="com.shihoo.daemon.singlepixel.SinglePixelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            android:theme="@style/SingleActivityStyle"
            />

        <service android:name=".watch.PlayMusicService"
            android:process=":watch"/>

    </application>

</manifest>
